{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Eng4rum - {{ title }}{% endblock %}

{% block page_content %}
<div class="page-header">
   <h1>{{ title }}</h1>
</div>

<div class="table-responsive">
<table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
       {% if current_user.is_administrator() %}
        <th>Edit</th>
        <th>Delete</th>
       {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for setting in configurations %}
    
      <tr>
        <td><span class="glyphicon glyphicon-wrench"></span> {{ setting.name }}</td>
        <td>
           {% if "|" in setting.value %} {{ setting.value.split('|') }} 
           {% else %} {{ setting.value }}
           {% endif %}
        </td>
      {% if current_user.is_administrator() %}
        <td><a href='{{ url_for('admin.edit_config', id=setting.id) }}'><span class="badge"><span class="glyphicon glyphicon-pencil"></span> Edit</span></a></td>
        <td>
            <a href="javascript:;" onclick="if(!confirm('Are you sure to delete {{ setting.name }} configuration?')){return false};delete_this_config({{ setting.id }})">
              <span class="badge"><span class="glyphicon glyphicon-trash"></span> Delete</span></span>
            </a>
        </td>
      {% endif %}
      </tr>
     {% endfor %}

    </tbody>
  </table>
  {% if current_user.is_administrator() %}
    <a href='{{ url_for('admin.add_config') }}' style="float: right;" class="btn btn-default btn-lg">Add Configuration</a>
  {% endif %}
</div>

{% if pagination %}
<div class="pagination">
   {{ macros.pagination_widget(pagination, '.configuration') }}
</div>
{% endif %}

<script>
    var csrf_token = "{{ csrf_token() }}";
    function delete_this_config(config_id){
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
        $.post( "/admin/config/" + config_id + "/delete" , {}, function(data, status){
                                                               if(alert("Data: " + data + "\nStatus: " + status)) {location.reload(true)} else {location.reload(true)};
                                                               });
    }
</script>

{% endblock %}
