
<br><h3>Uploaded files</h3>
    
<ul class="comments">

{% for file in files %}
<li class="comment">
       <div class="comment-thumbnail">
           <a href="{{ url_for('.user', username=file.author_data.username) }}">
               <img class="img-rounded profile-thumbnail" src="{{ file.author_data.gravatar(size=40) }}">
           </a>
       </div>
       <div class="comment-content">
           <div class="comment-author">By: <a href="{{ url_for('.user', username=file.author_data.username) }}">{{ file.author_data.username }}</a>
           {% if file.post == 1 %}
                <p class="label label-success">IN POST</p>
           {% endif %}
           {% if myfiles %}
              | <button onclick="myFunction('{{ url_for('main.view', filename=file.name) }}')" class="btn btn-default btn-xs">Copy Source Link</button>
           {% endif %}
       </div>
       <a href="{{ url_for('main.download', filename=file.name) }}">
           <div class="comment-body">
              <div>{{ file.name }}</div>
           </div>
           <div class="post-footer">
              <a class="btn btn-default btn-xs" href="{{ url_for('main.view', filename=file.name) }}">View</a>
           {% if myfiles or current_user.is_administrator %}
              <a class="btn btn-danger btn-xs" href="{{ url_for('main.rename_file', filename=file.name) }}">Rename</a>
           {% endif %}
           {% if current_user.is_administrator() or file.author_id==current_user.id %}
              <a class="btn btn-danger btn-xs" href="{{ url_for('main.delete_file', filename=file.name) }}">Delete</a>
           {% endif %}
           </div>
        </a>
       </div>
   </li>

{% endfor %}
</ul>

<script>
function myFunction(copyText) {

  var promise = navigator.clipboard.writeText(copyText)

  alert("Copied the Source Link: " + copyText);
}
</script>