{% extends "bootstrap/base.html" %}

{% block title %}EngSocial{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
        <br><br>
<div class="page-header"></div>
<div>
	<ul class="breadcrumb">
	  <li><a href="{{ url_for('main.download_file') }}">Download Document</a></li>
	  <li><a href="{{ url_for('main.rank') }}">Post Rank</a></li>
	</ul>
</div>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<br>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index')}}"><img src="{{ url_for('static', filename='favicon.ico') }}"></a>
            <a class="navbar-brand" href="{{ url_for('main.index')}}">EngSocial</a>
        </div>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_administrator() %}
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Admin <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.confirm') }}">Manage User</a></li>
                        <li><a href="{{ url_for('main.multiple_uploads') }}">Upload Files</a></li>
                    </ul>
                </li>
                
                {% endif %}
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18 )}}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <br>
</div>


{% endblock %}

{% block content %}
  <div class = "container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
  </div>
  
{% block footer %}
<div class="container">
      <div id="footer">
           <br><br><br><p>&copy Ngọc Quang</p><br>
      </div>
  </div>
{% endblock %}  

{% endblock %}



{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
