{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Eng4rum - Download{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Download file</h1>
</div>

<div class="post-tabs">
    {{ wtf.quick_form(form) }}
</div>
<div>
<h4><b>How to search:</b><br></h4>
<h5>
     Search with file extension. Example: %.mp4; %.doc;...<br>
     Search with not fully name. Example: %phrase%;...
</h5>
</div>
{% include '_uploads_files.html' %}

{% if pagination %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, '.download_file') }}
</div>
{% endif %}
{% endblock %}
